@import './style/reset.scss';
@import './style/variables.scss';
@import './style/rem-calc.scss';
@import './style/animation.scss';
@import './style/btn.scss';

html {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

main {
    width: rem-calc(600);
    box-sizing: border-box;
    margin: 0 auto;
}
