@import '../../../style/rem-calc.scss';

:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .pokemon {
        position: relative;
        display: flex;
        width: calc(49% - 2.5rem);
        background-color: var(--white);
        border-radius: rem-calc(10);
        padding: rem-calc(20);
        height: rem-calc(157 - 40);
        margin-top: rem-calc(20);

        &__status {
            h2 {
                font-size: rem-calc(22);
                font-style: italic;
                font-weight: 700;
                margin-bottom: rem-calc(10);
            }

            ul {
                display: flex;
                flex-direction: column;

                li {
                    background-color: var(--gray);
                    font-size: rem-calc(10);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: rem-calc(50);
                    width: rem-calc(60);
                    margin-bottom: rem-calc(5);
                }
            }
        }

        &__image {
            height: rem-calc(90);
            width: rem-calc(110);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: rem-calc(20);
            bottom: rem-calc(20);
            background: url('../../../assets/icons/background.svg');

            img {
                width: rem-calc(80);
            }
        }
    }
}
